# Node.js Dependencies
/node_modules
/node_modules/*

# Python Virtual Environment
/venv
/venv/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml




# Environment Configuration
.env

# Miscellaneous Files
requirement.txt
test.txt
tests3.py
mani.env
mani.env
